body {
  color: #666;
  font-family: OpenSans;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.video-js {
  margin: 0 auto !important;
}

.video-list li {
  margin-bottom: 20px;
}

#app, #app2 {
  width: 350px;
  margin: 0 auto;
}

#scrub-bar {
  width: 350px;
}

#log {
  width: 350px;
  height: 250px;
  border: 1px solid #ccc;
  margin: 0 auto;
  overflow-y: scroll;
}

#log_container {
  margin-top: 30px;
}

.log_msg {
  border-bottom: 1px solid #ccc;
  padding: 5px;
  text-align: left;
  font-size: 12px;
}

#play-button {
  border: 1px solid #ccc;
  font-size: 12px;
  float: left;
  width: 50px;
  margin-right: 10px;
}

#scrub-bar {
  float: left;
  width: 210px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

#time-stamp {
  font-size: 12px; 
  padding-top: 2px;
  float: left;
}

.clear {
  clear: both;
}